@media only screen and (max-width: 425px) {
    .conteudo__chamada-texto {
        padding-bottom: 50px;
    }

    .conteudo__chamada h1 {
        margin-top: 130px;
        font-size: 55px;
        line-height: 45px;
    }

    .conteudo__chamada h2 {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 50px;
    }

    .conteudo__chamada-form {
        margin-top: 50px;
    }

    .conteudo__chamada-form input {
        width: 100%;
        margin-right: 0;
        padding: 10px 20px;
        font-size: 26px;
    }

    .conteudo__chamada-form button,
    .conteudo__chamada-form a:link,
    .conteudo__chamada-form a:visited {
        padding: 10px 20px;
        width: 100%;
        margin-top: 20px;
        font-size: 22px;
    }

    .conteudo__chamada-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .conteudo__chamada-img img {
        width: 270px;
    }

    .topo__logo {
        justify-content: start;
    }

    .conteudo__depoimentos {
        margin-bottom: 70px;
    }

    .conteudo__depoimentos h3 {
        font-size: 28px;
    }

    .conteudo__depoimentos-confiados {
        flex-direction: column;
    }

    .conteudo__depoimentos-confiados__fotos {
        margin-top: 50px;
    }

    .conteudo__depoimentos-confiados__fotos img {
        margin-left: 0;
    }

    .conteudo__depoimentos-confiados__texto {
        margin-left: 0px;
    }

    .conteudo__depoimentos-confiados__texto p {
        font-size: 17px;
    }

    .conteudo__passos-texto p {
        margin: 0px 0 45px 0;
    }

    .conteudo__passos-titulo h3 {
        font-size: 37px;
    }

    .conteudo__perguntas-titulo h3 {
        font-size: 35px;
    }

    .modal__formulario h1 {
        font-size: 45px;
        line-height: 40px;
    }

    .modal__formulario-upload__container {
        margin-bottom: 70px;
    }

    .formulario__campos-aviso {
        text-align: center;
    }

    .formulario__submeter-aviso {
        align-items: center;
    }

    .formulario__submeter-botao {
        text-align: center;
        margin-top: 20px;
    }

    .link__exemplo {
        text-align: center;
    }

    .formulario__aviso {
        display: block;
    }

    .conteudo_view h1 {
        font-size: 55px;
        line-height: 65px;
        letter-spacing: -2px;
        text-align: center;
    }

    .conteudo_view-itinerary h1 {
        font-size: 40px;
        line-height: 35px;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .conteudo__chamada h1 {
        margin-top: 130px;
        font-size: 54px;
        line-height: 42px;
    }

    .conteudo__chamada h2 {
        font-size: 14px;
        line-height: 14px;
    }

    .conteudo__chamada-form {
        margin-top: 50px;
    }

    .conteudo__chamada-form input {
        margin-right: 10px;
        padding: 10px 20px;
        margin-top: 50px;
    }

    .conteudo__chamada-form button,
    .conteudo__chamada-form a:link,
    .conteudo__chamada-form a:visited {
        margin-top: 20px;
        padding: 10px 20px;
    }

    .conteudo__chamada-img {
        height: 100%;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .conteudo__chamada-img img {
        width: 270px;
    }

    .topo__logo {
        justify-content: start;
    }


    .conteudo__depoimentos-confiados {
        flex-direction: column;
    }

    .conteudo__depoimentos-confiados__fotos {
        margin-top: 50px;
    }

    .conteudo__depoimentos-confiados__fotos img {
        margin-left: 0;
    }

    .conteudo__depoimentos-confiados__texto {
        margin-left: 0px;
    }

    .conteudo__depoimentos-confiados__texto p {
        font-size: 17px;
    }

    .conteudo__passos-titulo h3 {
        font-size: 37px;
    }

    .conteudo__perguntas-titulo h3 {
        font-size: 35px;
    }

    .modal__formulario h1 {
        font-size: 75px;
        line-height: 65px;
    }

    .modal__formulario-upload__container {
        margin-bottom: 70px;
    }

    .formulario__campos-aviso {
        text-align: center;
    }

    .formulario__submeter-aviso {
        align-items: center;
    }

    .formulario__submeter-botao {
        text-align: center;
        margin-top: 20px;
    }

    .link__exemplo {
        text-align: center;
    }

    .payment__qrcode {
        margin-top: 50px;
    }

    .conteudo_view h1 {
        font-size: 75px;
        line-height: 80px;
        letter-spacing: -3px;
        text-align: center;
    }

    .conteudo_view-itinerary h1 {
        font-size: 72px;
        line-height: 53px;
    }
}